
/* App.css */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars from appearing */
  background-color: #343D3F;
  font-family: 'Inter', sans-serif;
  font-weight: 800;  /* Extra Bold */
}

.full-screen {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  background-color: #343D3F;
}


.inter {
  font-family: 'Inter', sans-serif;
  font-weight: 800;  /* Extra Bold */
  font-size: 2vh;
  color: white;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.7);
}
.inter2 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;  /* Extra Bold */
  font-size: 1.5vh;
  color: white;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.7);
}
.inter4 {
  font-family: 'Inter', sans-serif;
  font-weight: 800;  /* Extra Bold */
  font-size: 13px;
  color: white;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.7);
}


/* App.css */
.claimb {
  background-color: #0098EA; 
  color: #ffffff;    
  border: 2px solid #000000; 
  border-radius: 10px; 
  padding: 10px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;        
  outline: none;           
  transition: all 0.3s ease;  
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size:  1.5vh;
  margin-bottom: 3vh;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
}

.claimbb {
  background-color: #6B6B6B; 
  color: #ffffff;    
  border: 2px solid #21183C; 
  border-radius: 10px; 
  padding: 10px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;        
  outline: none; 
  transition: all 0.3s ease;  
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 12px;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
  margin-top: 10px;
}

.profileb {
  background-color: #1D2358; 
  color: #ffffff;    
  border: 3px solid #0098EA; 
  border-radius: 10px; 
  padding: 10px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;        
  outline: none;           
  transition: all 0.3s ease;  
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 1.5vh;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
}

.profilet {
  background-color: #1D2358; 
  color: #ffffff;    
  border: 3px solid #0098EA; 
  border-radius: 10px; 
  padding: 10px 20px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;        
  outline: none;           
  transition: all 0.3s ease;  
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 1.5vh;
  text-shadow:  0 4px 8px rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.claimb:hover {
  background-color: #007acc;  /* Slightly darker blue on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow on hover */
}

.image-style {
  -webkit-tap-highlight-color: transparent; 
    outline: none;
  cursor: pointer;        
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 9vh;
  animation: pulse 2s infinite ease-in-out, shine 2s infinite ease-in-out; /* Two animations */
}

.image-style2 {
  cursor: pointer;        
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  height: 6vh
}

.idiamonds {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  animation: shine 2s infinite ease-in-out; /* Two animations */
}


@keyframes pulse {
  0%, 100% {
    transform: scale(1); /* Original size */
  }
  50% {
    transform: scale(1.05); /* Scale up to 105% of the original size */
  }
}
@keyframes shine {
  0%, 100% {
    filter: brightness(1) contrast(1); /* Normal state */
  }
  50% {
    filter: brightness(1.1) contrast(1.1); /* Brighter and more contrast in the middle of the animation */
  }
}


